<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Udemy">
   <test name="all-classes">
      <classes>
         <class name="stardolphin.com.udemy.SeleniumTest" />
         <class name="stardolphin.com.udemy.AppiumTest" />
         <class name="stardolphin.com.udemy.AppTest" />
         <class name="stardolphin.com.udemy.RestApiTest" />
      </classes>
   </test>

</suite>
